@import "tailwindcss";
@theme {
    --color-primary: #111111;   /* Main dark background color */
    --color-accent: #C3110C;    /* Updated bright red accent */
    --font-family-tattoo: "Oswald", "Poppins", sans-serif; /* Stylish & readable fonts */
    --font-family-heading: "Cinzel", serif;
}






















